:root {

  --yellow: #ffbf00;
  --blue: #456bff;
  --red: #e03737;
  --purple: #8e2fbe;
  --green: #2fbe2f;
  --black: black;
  --white: white;


  --background: darkgrey;

  --lightGrey: #f2f2f2;
  --grey: #d9d9d9;
  --darkGrey: #bfbfbf;

  /* Type colors */
  --text: --black;
  --textDark: black;
}
