.intro_picture img {
  width: 100%;
  float: left;
}

.intro_greeting {
  background-color: black;
  padding: 16px;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.2);
}

.intro_greeting h1 {
  color: white;
  font-family: 'Chivo', sans-serif;
}

@media (min-width: 30em) {

  .intro_picture img {

  }

  .intro_greeting {
    padding: 20px;
  }

  .intro_greeting h1 {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (min-width: 60em) {

  .intro_greeting {
    padding: 24px;
  }

  .intro h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 80em) {
  .intro h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
