:root {
  --u: 4px;
}

/**
 * Padding
 */

.p1 { padding: $unit;   }
.p2 { padding: $unit*2; }
.p3 { padding: $unit*4; }
.p4 { padding: $unit*8; }
.p5 { padding: $unit*16; }

.px1 { padding-left: $unit;   padding-right: $unit; }
.px2 { padding-left: $unit*2; padding-right: $unit*2; }
.px3 { padding-left: $unit*4; padding-right: $unit*4; }
.px4 { padding-left: $unit*8; padding-right: $unit*8; }
.px5 { padding-left: $unit*16; padding-right: $unit*16; }

.py1 { padding-top: $unit;   padding-bottom: $unit; }
.py2 { padding-top: $unit*2; padding-bottom: $unit*2; }
.py3 { padding-top: $unit*4; padding-bottom: $unit*4; }
.py4 { padding-top: $unit*8; padding-bottom: $unit*8; }
.py5 { padding-top: $unit*16; padding-bottom: $unit*16; }

.pt1 { padding-top: $unit;   }
.pt2 { padding-top: $unit*2; }
.pt3 { padding-top: $unit*4; }
.pt4 { padding-top: $unit*8; }
.pt5 { padding-top: $unit*16; }

.pr1 { padding-right: $unit;   }
.pr2 { padding-right: $unit*2; }
.pr3 { padding-right: $unit*4; }
.pr4 { padding-right: $unit*8; }
.pr5 { padding-right: $unit*16; }

.pb1 { padding-bottom: $unit;   }
.pb2 { padding-bottom: $unit*2; }
.pb3 { padding-bottom: $unit*4; }
.pb4 { padding-bottom: $unit*8; }
.pb5 { padding-bottom: $unit*16; }

.pl1 { padding-left: $unit;   }
.pl2 { padding-left: $unit*2; }
.pl3 { padding-left: $unit*4; }
.pl4 { padding-left: $unit*8; }
.pl5 { padding-left: $unit*16; }

/**
 * Margins
 */

.m1 { margin: $unit;   }
.m2 { margin: $unit*2; }
.m3 { margin: $unit*4; }
.m4 { margin: $unit*8; }
.m5 { margin: $unit*16; }

.mx1 { margin-left: $unit;   margin-right: $unit; }
.mx2 { margin-left: $unit*2; margin-right: $unit*2; }
.mx3 { margin-left: $unit*4; margin-right: $unit*4; }
.mx4 { margin-left: $unit*8; margin-right: $unit*8; }
.mx5 { margin-left: $unit*16; margin-right: $unit*16; }

.my1 { margin-top: $unit;   margin-bottom: $unit; }
.my2 { margin-top: $unit*2; margin-bottom: $unit*2; }
.my3 { margin-top: $unit*4; margin-bottom: $unit*4; }
.my4 { margin-top: $unit*8; margin-bottom: $unit*8; }
.my5 { margin-top: $unit*16; margin-bottom: $unit*16; }

.mt1 { margin-top: $unit;   }
.mt2 { margin-top: $unit*2; }
.mt3 { margin-top: $unit*4; }
.mt4 { margin-top: $unit*8; }
.mt5 { margin-top: $unit*16; }

.mr1 { margin-right: $unit;   }
.mr2 { margin-right: $unit*2; }
.mr3 { margin-right: $unit*4; }
.mr4 { margin-right: $unit*8; }
.mr5 { margin-right: $unit*16; }

.mb1 { margin-bottom: $unit;   }
.mb2 { margin-bottom: $unit*2; }
.mb3 { margin-bottom: $unit*4; }
.mb4 { margin-bottom: $unit*8; }
.mb5 { margin-bottom: $unit*16; }

.ml1 { margin-left: $unit;   }
.ml2 { margin-left: $unit*2; }
.ml3 { margin-left: $unit*4; }
.ml4 { margin-left: $unit*8; }
.ml5 { margin-left: $unit*16; }
