@import 'normalize.css';
@import './ui/grid.css';
@import './ui/spacing.css';
@import './ui/helpers.css';
@import './ui/typography.css';

* {
  box-sizing: border-box;
}

:root {

  /* Background colors */
  --background: white;
  --blue: #153AFF;
  --bgRed: red;
  --bgGreen: #00cc33;

  --lightGrey: #f2f2f2;
  --grey: #d9d9d9;
  --darkGrey: #bfbfbf;

  /* Type colors */
  --text: black;
  --textDark: black;

  /* Font weights */
  --bold: "UniversLT-Bold", sans-serif;
  --regular: "UniversLT", sans-serif;
}

html,
body {
  height: 100%;
}

html {
  background-color: var(--background);
}

body {
  padding: 16px;
  color: var(--text);
}

@media (min-width: 30em) {

  body {
    padding: 16px;
  }
}

@media (min-width: 60em) {

  body {
    padding: 0;
  }
}


/* -------------------------------------------------------------------------- */



.headshot {
  box-shadow: 8px 8px 0 0 #e03737;
}

.circle {
  width: 100%;
  height: 100%;
  border: 4px solid #2fbe2f;
}
